@use '../../../../base';

:host {
  height: base.$max-full-height;
  display: grid;
  grid-template-columns: minmax(0, 1fr) base.$btx-max-width;

  .edit-controls-container {
    display: flex;
    align-items: baseline;

    & > * {
      flex-grow: 1;
    }
  }
}
