:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  .context-menu {
    position: absolute;
    top: var(--pos-y);
    left: var(--pos-x);
    width: 10rem;
    background: var(--cds-layer-active-01);
    transition:
      opacity 0.5s ease,
      display 0.5s ease;
    transition-behavior: allow-discrete;

    &.show {
      display: block;
    }

    &.hide {
      opacity: 0;
      display: none;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    .control-menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@starting-style {
  .context-menu.show {
    opacity: 0;
  }
}
